<!-- .list-group>.list-group-item*3>{Text} -->

<!-- (click)=" $any($event.target).classList.toggle('active') " BAD IDEAA! -->

<div class="list-group">

  <div class="list-group-item" 
  
  [class.active]=" playlist.id === selectedId "
  (click)="select( playlist.id )"
  
  *ngFor="let playlist of playlists; index as i">
    {{i+1}}. {{playlist.name}}
  </div>
  
</div>



  <!-- <ng-template ngFor [ngForOf]="playlists" let-playlist="$implicit" let-i="index"> -->
  <!-- <ng-template ngFor [ngForOf]="tracks" let-track="$implicit" > -->

  <!-- <ng-template ngFor [ngForOf]="playlists" let-playlist let-i="index">
    <div class="list-group-item">
      {{i+1}}. {{playlist.name}}
    </div>
  </ng-template> -->


  <!-- for(let item of items){} -->
  <!-- <div class="list-group-item" *ngFor="let playlist of playlists; let i = index;"> -->