<form #formRef="ngForm" (ngSubmit)="formSubmit(formRef)">

  <app-card>
    <ng-container ngProjectAs="card-title">{{nameRef.value}}</ng-container>


    <input type="hidden" name="PLacki" ngModel [ngModelOptions]="{standalone: true}">

    <!-- <pre>{{playlist | json }}</pre> -->

    <!-- .form-group>label{Name:}+input.form-control -->
    <div class="form-group">
      <label>Name:</label>

      <input type="text" class="form-control" #nameRef="ngModel" [ngModel]="playlist.name" name="name">

      <span> {{nameRef.value?.length}} / 170</span>
    </div>

    <div (click)="showDetails = !showDetails">Toggle details</div>

    <ng-container ngModelGroup="details" *ngIf="showDetails">

      <!-- .form-group>label>input[type=checkbox]+{ Public} -->
      <div class="form-group">
        <label><input type="checkbox" [ngModel]="playlist.public" name="public"> Public</label>
      </div>

      <!-- .form-group>label{Description:}+textarea.form-control -->
      <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" [ngModel]="playlist.description" name="description"></textarea>
      </div>

    </ng-container>


    <ng-container ngProjectAs="card-footer">
      <button class="btn btn-danger" type="button" (click)="cancelClick()">Cancel</button>
      <button class="btn btn-success" type="submit">Save</button>
    </ng-container>


  </app-card>

</form>