<!-- Routing + queryParamMap -->
<!-- http://localhost:4200/search/albums?id=5Tby0U5VndHW0SomYO7Id7 -->

<!-- {{album_id}} -->

<!-- album_id = 5Tby0U5VndHW0SomYO7Id7 -->

<!-- MusicSearchService .fetchAlbumById(id) -->
<!-- <Album> -->
<!-- GET https://api.spotify.com/v1/albums/{id} -->
<!-- this.album = ... -->

<!-- Link from search -->
<!-- Router .navigate() -->
<!-- [routerLink]="['/search/albums?id='+album.id]" -->
<!-- [routerLink]="['/search/albums']" [queryParams]="{id:album.id}" -->

<!-- .row>.col>app-album-card^.col>h3{title}+.list-group>.list-group-item*3>{Track name} -->

<!-- {{album | json}} -->

<p class="alert alert-danger" *ngIf="message">{{message}}</p>



<div class="row" *ngIf="albumObs | async as album; else loader">
    <div class="col">
        <app-album-card [album]="album"></app-album-card>

        <dl>
            <dt>Artist</dt>
            <dd>{{album.artists[0]?.name}}</dd>

            <dt>Label</dt>
            <dd>{{$any(album).label}}</dd>

            <dt>Release Date</dt>
            <dd>{{album.release_date | date}}</dd>
        </dl>

    </div>
    <div class="col">
        <h3>{{album.name}}</h3>
        <hr>

        <audio class="w-100" controls [src]="currentTrack?.preview_url" #audioRef></audio>

        <hr>

        <div class="list-group">
            <div class="list-group-item" *ngFor="let track of album.tracks?.items">
                {{track.name}}

                <i class="bi  float-right"
                    [ngClass]="{'bi-play':track === currentTrack , 'bi-play-fill':track !== currentTrack}"
                    (click)="playTrack(track)"></i>
            </div>
        </div>
    </div>
</div>




<ng-template #loader>
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>