<div class="card" [routerLink]="['/search/albums']" [queryParams]="{id:album.id}">
    <img [src]="album.images[0].url" class="card-img-top" alt="title">
    <div class="card-body">
        <h5 class="card-title">{{album.name}}</h5>
    </div>
</div>

<!-- <p class="card-text">This is a longer </p> -->