<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="placki active" routerLink="/">MusicApp</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="placki active" routerLink="/search"
            [routerLinkActiveOptions]="{exact:true}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="placki active" routerLink="/search/albums">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="placki active" routerLink="/playlists">Playlists</a>
        </li>
      </ul>
    </div>
    <div class="text-white float-right mr-3 ml-auto">
      <app-recent-searches></app-recent-searches>
    </div>
    <div class="text-white float-right">
      <div *ngIf="(auth.userChange| async) as user; else guestTpl">
        {{user.display_name }} | <span (click)="logout()">Logout</span>
      </div>
    </div>
    <ng-template #guestTpl>
      Guest | <span (click)="login()">Login</span>
    </ng-template>

  </div>
</nav>

<div class="container">
  <div class="row">

    <div class="col">


      <router-outlet></router-outlet>

    </div>
  </div>
</div>