<app-card *ngIf="playlist">

  <ng-container ngProjectAs="card-title">
    {{playlist.name | titlecase }}
  </ng-container>


  <dl [title]="playlist.name" [attr.data-playlist-id]="playlist.id">

    <!-- <dt>Name:</dt>
      <dd [style.fontSize.px]=" 20 + 2 ">{{playlist.name}}</dd> -->

    <dt>Public:</dt>

    <dd class="playlist-visibility" [ngClass]="{
        'public': playlist.public,
        'private': !playlist.public
      }">{{ playlist.public | yesno:'yeah':'nope' | titlecase }}</dd>

    <dt>Description:</dt>
    <dd>{{playlist.description | slice:0:30}}</dd>
  </dl>

  <ng-container ngProjectAs="card-footer">
    <button class="btn btn-info" (click)="clickEdit()">Edit</button>
    <button class="btn btn-danger" (click)="clickDelete()">Delete</button>
  </ng-container>


</app-card>

<pre style="width:200px; overflow:auto;">{{ playlist | json }}</pre>
<!-- <button class="btn btn-info" (click)="edit.emit()">Edit</button> -->
<!-- 
<dd 
style="border-bottom: 1px solid black "
[style.border-bottom-color]="  playlist.public? 'green':'red' "
[style.borderBottomColor]="  playlist.public? 'green':'red' "
[style.color]="  playlist.public? 'green':'red' ">
                {{ playlist.public? 'Yes':'No'}}
</dd>
<dd 
style="border-bottom: 1px solid black "
[ngStyle]="{
  'border-bottom-color':  playlist.public? 'green':'red',
  'color': playlist.public? 'green':'red' 
}">
                {{ playlist.public? 'Yes':'No'}}
</dd>

<dd
class="playlist-visibility"
[class.public]="playlist.public"
[class.private]="!playlist.public"
>{{ playlist.public? 'Yes':'No'}}</dd> -->